# Variáveis de ambiente e dados sensíveis
.env
.env.*
!.env.example

# Sistemas Operacionais e Editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs gerais
*.log
logs/